@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@600;700&display=swap');

html{
	overflow-x:hidden;
	font-family:'Roboto';
}
.container{
	max-width:941px;
	margin: 0 auto;
}
.wrapper{
	display: flex;
	flex-direction:column;
}
.header {
	flex: 0 0 auto;
	padding:74px;
	width:100%;
	height:96px;
}
.content{
	flex: 1 0 auto;
}
.header__logo {
	font-family: 'Source Sans Pro';
	font-size: 23px;
	color:#fff;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.04em;
}
.main {
	height:567px;
	margin: 116px 0 0 0;
	letter-spacing: 0.04em;
	color:#fff;
}
.main__bg {
	position:absolute;
	top:0;
	left:0;
	img{
		width:100vw;
		height:673px;
		object-fit:cover;
	}
	z-index:-1;
}
.main__title {
	text-transform: uppercase;
	font-weight: 600;
	span{
		display: block;
		font-size: 23px;
	}
	font-size: 63px;
	
}
.main__subtitle {
	max-width:537px;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.06em;
}
.gallery {
	transform:translate(0, -210px);
}
.gallery__flex-row {
	display: flex;
	justify-content:space-between;
	align-items:end;
}
.gallery__flex-row__item {}
.gallery__flex-title {
	display: flex;
	align-items:center;
	justify-content:space-between;
	margin:  0 0 50px 0;
}
.gallery__title-text {
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 0.04em;
	line-height: 57px;
	color:#000;

}
.gallery__title-subtext {
	max-width:540px;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 0.04em;
	line-height: 20px;
	color:#000;
	margin: 0 0 0 63px;

}
.gallery__flex-images {
	display: flex;
}
.gallery__flex-images__item {
	#i1-1{
		width:300px;
		object-fit: cover;
	}
	#i1-2{
		display: block;
		margin:-14px 0 0 0;
		width:300px;
		object-fit: cover;
	}
	#i2-1{
		width:400px;
		object-fit: cover;
	}
	#i2-2_1{
		width:180px;
		object-fit: cover;
	}
	#i2-2_2{
		width:180px;
		object-fit: cover;
	}
	#i2-3{
		width:220px;
		object-fit: cover;
	}
}
#first-image-flex{
	display: flex;
	flex-direction:column;
}
.gallery__flex-images__item-flex {
	display: flex;
}
.gallery__flex-images__item-flex__item {
	max-width:180px;
}
#long-inside{
	display: none;
}
.textbox {
	margin:-150px 0 0 0;
	position:relative;
}
.textbox__image-bg {
	position:absolute;
	img{
		width:100vw;
		height:326px;
		object-fit:cover;
	}
	z-index:-1;
}
.textbox__title {
	text-align: center;
	color:#fff;
	border: 1px solid #fff;
	width:200px;
	margin:0 auto;
	padding:5px;
	font-weight: 300;
	font-size: 23px;
	letter-spacing: 0.04em;
	line-height: 20px;
}
.textbox__description {
	max-width:620px;
	margin: 24px auto 0;
	color:#fff;
	font-size: 13px;
	line-height: 26px;
	letter-spacing: 0.04em;
}
.textbox__content{
	padding:98px 0 0 0;
}
.statistics {
	margin:140px 0 0 0;
}
.statistics__title {
	text-align:center;
	font-weight: 300;
	font-size: 30px;
	line-height: 57px;
	letter-spacing: 0.04em;
}
.statistics__subtitle {
	margin:57px 0 0 0;
	font-weight: 300;
	font-size: 30px;
	line-height: 57px;
	letter-spacing: 0.04em;
}
.satistics__description {
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.04em;
}
.statistics__flex-row {
	margin: 24px 0 0 0;
	padding:10px;
	display:flex;
	background: #F5F5F5;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;

}
.statistics__flex-item {}
.statistics__number {
	font-weight: 500;
	font-size: 28px;
	line-height: 57px;
	letter-spacing: 0.04em;
	text-align: center;
}
.statistics__number-description {
	font-size: 17px;
	letter-spacing: 0.04em;
	text-align: center;
}

.videoblock {
	position:relative;
	margin:127px 0 0 0;
	color:#fff;
}
.videoblock__bg {
	position: absolute;
	img{
		width:100vw;
		height:1000px;
		object-fit:cover;
	}
	z-index:-1;
}
.videoblock__textbox{
	padding: 117px 0 0 0;
}
.videoblock__title {
	font-size: 23px;
	max-width:174px;
	letter-spacing: 0.04em;
	font-weight: 300;
	text-align: center;
	display: block;
	border:1px solid #fff;
	padding:5px;
	margin: 0 auto 0;
}
.videoblock__subtitle {
	max-width:620px;
	margin: 24px auto 0;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 0.04em;
	line-height: 26px;
}
.videoblock__video {
	max-width:780px;
	margin:45.6px auto 0;
	video{
		display: block;
		max-width:780px;
		box-shadow: 5px 5px 30px rgba(0,0,0,0.5), -5px -5px 30px rgba(0,0,0,0.5) ;
	}
}

.footer {
	flex: 0 0 auto;
	line-height:240px;

}
.footer__logo {
	font-family: 'Source Sans Pro';
	font-size: 23px;
	color:#fff;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.04em;
}
@media(max-width:967px){
	.container{
		max-width:800px;
	}
	#long{
		display: none;
	}
	.gallery{
		transform: translate(0,-100px);
		margin: 0 auto;
		max-width:700px;
	}
	.textbox{
		margin: -50px 0 0 0;
	}
}
@media (max-width:820px){
	.container{
		max-width:700px;
	}
	.videoblock__video{
		max-width:620px;
		video{
			max-width:620px;
		}
	}
	.videoblock__bg{
		img{
			height:900px;
		}
	}
}
@media (max-width:751px){
	.container{
		max-width:650px;
	}
	.gallery__flex-images{
		max-width:600px;
		margin:0 auto;
	}
	#first-image-flex{
		width:300px;
		flex-direction:column-reverse;	
	}
	.gallery__flex-images__item {
		width:120px;
		#i1-1{
			display: block;
			width:300px;
			margin:-14px 0 0 0;
		}
		#i1-2{
			width:300px;
			height:202px;
			margin: 0 ;
		}
		#i2-1{
			width:300px;
			height:202px;
		}
		#i2-2_1{
			width:120px;
			height:101px
		}
		#i2-2_2{
			width:120px;
			height:101px;
		}
		#i2-3{
			width:180px;
			height:202px;
		}
	}
	.videoblock__video{
		max-width:550px;
		video{
			max-width:550px;
		}
	}
	.main{
		margin: 175px 0 0 0;
	}
	.main__title{
		text-align: center;
	}
	.main__subtitle{
		margin:0 auto;
		text-align: center;
	}
	.gallery{
		margin: 30px auto 0;
	}
	.header{
		height:50px;
		padding:30px 0 0 0;
	}
}
@media(max-width:700px){
	.container{
		max-width:620px;
	}
	
	
	.videoblock__video{
		max-width:500px;
		video{
			max-width:500px;
		}
	}
	.footer{
		line-height: 160px;
	}
	.videoblock__bg{
		img{
			height:760px;
		}
	}
}
@media(max-width:680px){
	.container{
		max-width:550px;
	}
	
	.gallery__flex-images{
		width:100%;
	}
	.gallery__flex-row{
		max-width:500px;
		margin: 0 auto;
	}
	
	.gallery__flex-images__item{
		width:300px;
		margin: 0 auto;
	}
	
	.gallery__flex-images{
		flex-wrap:wrap;
		#i1-1{
			display: block;
			width:100%;
			margin:-14px 0 0 0;
		}
		#i1-2{
			width:300px;
			height:306px;
			margin: 0 ;
		}
		#i2-1{
			width:300px;
			height:202px;
		}
		#i2-2_1{
			width:120px;
			height:101px
		}
		#i2-2_2{
			width:120px;
			height:101px;
		}
		#i2-3{
			width:180px;
			height:202px;
		}
	}
}
@media(max-width:568px){
	.container{
		max-width:450px;
	}
	.videoblock__video{
		max-width:450px;
		video{
			max-width:450px;
		}
	}
	
	.statistics__flex-item{
		margin: 20px 0 0 0;
	}
}
@media(max-width:470px){
	.container{
		max-width:400px;
	}
	.main__title{
		p{
			font-size: 50px;
		}
	}
	.gallery{
		margin: 20px auto 0;
	}
	.gallery__title-subtext{
		margin: 0 0 0 30px;
	}
	.gallery__flex-title{
		max-width:400px;
		margin: 0 auto 30px;
	}
	.gallery__flex-images{
		max-width:100%;
	}
	.videoblock__video{
		max-width:400px;
		video{
			max-width:400px;
		}
	}
	.videoblock{
		margin: 60px 0 0 0;
	}
	.textbox__content{
		padding: 50px 0 0 0;
	}
	.textbox__description{
		text-align: center;
	}
}
@media(max-width:420px){
	.statistics{
		margin:100px 0 0 0;
	}
	.container{
		max-width:320px;
	}
	.main__title{
		p{
			font-size: 45px;
		}
	}
	.videoblock{
		.container{
			max-width:350px;
		}
	}
	.videoblock__video{
		.container{
			max-width:100%;
		}
		video{
			max-width:100%;
		}
	}
	.gallery__flex-title{
		flex-direction:column;
		align-items:start;
	}
	.gallery__title-text{
		margin: 0 auto;
	}
	.gallery__title-subtext{
		margin: 0 auto;
		text-align: center;
	}
	.videoblock__bg{
		img{
			height:720px;
		}
	}
}
@media(max-width:370px){
	.container{
		max-width:300px;
	}
	.videoblock{
		.container{
			max-width:300px;
		}
	}
	.videoblock__subtitle{
		text-align: center;
	}
	.gallery{
		.container{
			max-width:100%;
		}
	}
}
@media(max-width:330px){
	.container{
		max-width:275px;
	}
	.videoblock__video{
		max-width:275px;
		video{
			max-width:275px;
		}
	}
	.gallery{
		.container{
			max-width:100%;
		}
	}
	#images__2__in-a-row{
		margin:0;
		max-width:140px;
	}
	.gallery__flex-images{
		flex-wrap:wrap;
		#i1-1{
			display: block;
			width:100vw;
			margin:-14px 0 0 0;
		}
		#i1-2{
			width:100vw;
		}
		#i2-1{
			width:100vw;
		}
		#i2-2_1{
			width:50vw;
		}
		#i2-2_2{
			width:50vw;
		}
		#i2-3{
			width:50vw;
		}
	}
	.gallery__flex-images{
		max-width:100%;
	}
}